
  
<div class="col-4 py-2">
    <div class="card text-bg-light">
      <h5 class="card-header"><%= client.name %></h5>
      <div class="card-body">
        <div>
          <p class="card-text">Edad: <%= client.age %></p>
        </div>
        <br>
        <div>
          <p class="card-text">Películas: <%= client.movies.last %></p>
        </div>
          <br>
        <% if action_name == "index" %>
          <%= link_to "Mostrar Cliente", client, class: "btn btn-primary mt-3 col-12" %>
        <% else %>
        <div class="row">
          <div class="mb-1">  
            <%= link_to "Editar", edit_client_path(client), class: "btn btn-primary col-12" %>
          </div>

          <div class="mt-1">
            <%= button_to "Eliminar", @client, method: :delete, class: "btn btn-primary col-12" %>
        </div>

        <% end %>
          
      </div>
    </div> 
</div>

